<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gocle.lxp.tracking.mapper.tracking.LearningLogMapper">

    <insert id="insert" parameterType="com.gocle.lxp.tracking.domain.LearningLog">
        INSERT INTO learning_log (
		        api_key_id,
		        actor_id,
		        verb,
		        object_id,
		        platform,
		        raw_json,
		        created_at
		    ) VALUES (
		        #{apiKeyId},
		        #{actorId},
		        #{verb},
		        #{objectId},
		        #{platform},
		        #{rawJson},
		        NOW()
		    )
    </insert>
</mapper>
